# ============================================================
# Flask API
# ============================================================
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=false

# URL ของ Frontend ที่อนุญาตให้เรียก API
CORS_ORIGIN=http://localhost:5173



# ============================================================
# MQTT Broker
# ============================================================
# ตัวอย่าง local Mosquitto: localhost
# ตัวอย่าง cloud broker: broker.example.com
MQTT_HOST=1.tcp.ap.ngrok.io
MQTT_PORT=24488

# รองรับ wildcard เช่น sensors/+/data
MQTT_TOPIC=sensors/+/data

# เว้นว่างได้ หาก Broker ไม่ต้องใช้ Username/Password
MQTT_USERNAME=chirpstack
MQTT_PASSWORD=trident4664
